nav {
    display: flex;
    gap: 0.5rem;
  }
  
  .header-ankers {
    flex: 1;
    background-color: transparent;
    color: #fff;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
  }
  
  .header-ankers:hover,
  .header-ankers:focus {
    background-color: #fff;
    color: #333;
  }
  header{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient( grey, Black);
    background: url(/img/space-wallpaper-hd-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;

/*     background: url(/Portfolio-Best/img/Black\ Aesthethic\ Education\ Online\ Portfolio.png);
 */
  }

  .card{
    width: 500px;
    height: 500px;
  }
  