@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
   /*  display: grid;
    justify-content: space-evenly;
    align-items: center; */
/*     min-height: 100vh;
 */    background: #000

  /*    height: 100vh;
  
  background-image: url(/img/Die\ Prinzipien\ der\ Animation.jpg);
   */
}
.main-first-section  > h1{
  font-size: 50pt;
/*   text-shadow: #FC0 1px 0 10px;  
 */  text-shadow: rgb(196, 125, 255) 1px 0 10px; 
 color: rgb(0, 0, 0);
}
.main-first-section  > h2 {
  color: rgb(189, 153, 255);
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hline{
   width:100%;
   height:0,2px; 
   background-color: black;
   /* border: #FC0 1px solid; */
   border: rgb(214, 127, 255) 1px solid;

}
.main-projekte{
  background: url(/img/blau-pink-neon.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 150vh;
  background-size: cover;
}
.main-skills{
  background: url(/img/Die\ Prinzipien\ der\ Animation.jpg);
  height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  color: purple;

 }
.grid{
  display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    height: 100vh;
}
.container a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid rgb(201, 119, 248) ;/*hier hab ich die farbe verändert vom original */
    margin: 40px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    transition: 0s;
}
.container a:hover {
    transition-delay: 0.5s;
    color: #000;
    box-shadow: 0 0 10px #0f0,
    0 0 20px #0f0,
    0 0 40px #0f0,
    0 0 80px #0f0,
    0 0 160px #0f0;
}
.container a span {
    position: relative;
    z-index: 100;
}
.container a:nth-child(2) {
    filter: hue-rotate(80deg);
}
.container a::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #0f0;
    box-shadow: 5px -8px 0 #0f0,
                5px 8px 0 #0f0;
    transition: width 0.5s, left 0.5s, height 0.5s
    box-shadow 0.5s;
    transition-delay: 1s,0.5s,0s,0s;
}
.container a:hover::before{
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 #0f0,
                5px 0 0 #0f0;
    /* Die transition-delayCSS-Eigenschaft gibt die Wartezeit an, bevor der Übergangseffekt einer Eigenschaft gestartet wird,
     wenn sich ihr Wert ändert.*/
     transition-delay: 0s,0s,0.1s,0.1s;



}

.container a::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #0f0;
    box-shadow: -5px -8px 0 #0f0,
                -5px 8px 0 #0f0;
    transition: width 0.5s, left 0.5s, height 0.5s
    box-shadow 0.5s;
    transition-delay: 1s,0.5s,0s,0s;
}
.container a:hover::after{
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 #0f0,
                -5px 0 0 #0f0;
    /* Die transition-delayCSS-Eigenschaft gibt die Wartezeit an, bevor der Übergangseffekt einer Eigenschaft gestartet wird,
     wenn sich ihr Wert ändert.*/
    transition-delay: 0s,0s,0.1s,0.1s;
}

  
  .transformed-state {
    transform: rotate(360deg);
    background-color: black;
    color: yellow;
    font-size: 12px;
    transition-property: background-color, font-size, transform, color;
    transition-timing-function: ease-in-out;
    transition-duration: 3s;
  }
 
  /*-----------------------------------------------------------------KONTAKTFORMULAR------------------------------------------------------------------*/
  .cs-form {
   /*  width: 70%;
    height: 50%; */
    width: 50rem;
    margin: 2em;
    padding: 2em;

    display: flex;
    flex-direction: column;
    justify-content: right; 

    border: aquamarine 2px solid;
    color: aquamarine;
    border-radius: 10px;
  }
  /*---------------------------------------------------------------------footer-----------------------------------------*/

.footer-kontaktfeld{
  height: 100vh;
  width: 100vw;
  background: url(/img/blau-pink-neon.jpg);

  padding-left: 5%;
  padding-right: 5%;
}
#Kontakt{
  display: grid;
  justify-content: center;
  flex-direction: columns;
     
}
 /*---------------------------------------------------------------------HEADER-IMAGE-UND PARAGRAPH-----------------------------------------*/
 header{
  height: 100vh;
 }
 
 .main-first-section{

  display: grid;
  justify-items: center;
  text-align: center; 
}


.main-first-section > img{
  border-radius: 50%;
  margin: 15px;
  margin-top: 10rem;
  padding: 2px;

  border: 3px solid aliceblue;
}
.header-par{
  color: aquamarine; /* textfarbe*/
 /*  font-size: 15pt;  */   /*textgröße*/

  width: 66vw;
   margin: 1.5em;
  border: aliceblue solid 1px;
  border-radius: 10px;
  padding: 10px;

  box-shadow: 0px 0px 5px 0px rgb(233, 219, 219);
  background-color: transparent;
}
.header-par:hover{
  background-color: black;
}


/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
} */
@media screen and (max-width: 750px)
{
  .cs-form{
    width: 50%;
  }
  .main-first-section > img{
    width:150px;
    height:150px;

  }
  .main-first-section > h1{
    font-size: 15pt;
  }
  .header-par{
    font-size: 10pt;
  }
  header{
    font-size: 10pt;
  }
  .delay-1{
    height: 150px;
    width: 150px;

  }
  .delay-1 > img{
    height: 100px;
  }
  .delay-1 > h2{
    font-size: 10pt;
  }


}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}  */